* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #5c6376;
    --secondary-color: rgba(194, 21, 139, 0.543);
    --tertiary-color: #f4ffed;
}
body {
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--primary-color);
    }
    /* apply styles to <header> */
header {
    background-image: url("./gradient.jpeg");
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: 100%;
    background-position: 100%;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
}
header img {
    display: flex;
    width: 100%;
    z-index: 9999;
}
Header h1 {
    font-weight: bold;
    margin: 0;
    font-size: large;
}
/* Header Nav Style Start */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--tertiary-color);
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--tertiary-color)
}
/* Bio Style Start */
#bio {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#bio img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px;
    border: #f4ffed;
    border-radius: var(--tertiary-color);
    border-style: solid;
    width: 50%;
    max-width: 500px;

}
#bio p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    max-width: 500px;
    border: var(--tertiary-color);
    border-radius: var(--tertiary-color);
    border-style: solid;
    margin: 100px;
    text-align: center;
    padding: 50px;
}
.bio-content {
    display: flex;
}
/* Portfolio Style Start */
#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-around;
    justify-content: center;
}
#portfolio h3, #portfolio h4 {
color: #f4ffed;
}
#portfolio img {
    max-height: 1000px;
    opacity: 50%;
    border-style: inset;
    border-color: inherit;
    margin: 10px;
}
.portfolio-boxes {
    display: flex;
    flex-direction: row;
    max-height: 1000px;
    max-width: 1000px;
}
.secondary-project-flexcontainer {
    height: 1000px;
    justify-content: space-evenly;
}
.secondary-project-flexcontainer-project-1 img {
    height: 500px;
    width: 500px;
}
.secondary-project-flexcontainer-project-2 img {
    height: 500px;
    width: 500px;
}
.primary-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}
.primary-project-flexcontainer {
    max-height: 1000px;
    height: 100%;
}
.secondary-project {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    max-height: 500px;
    height: 50%;
    max-width: 500px;
    width: 50%;
}
.primary-project h3, .secondary-project h4 {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
article {
    justify-content: center;
}
/*Contact Style Start */
#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.button1 {
    display: flex;
    margin: 35px;
}
.button2 {
    display: flex;
    margin: 35px;
    background-color: var(--secondary-color);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 25px;
    width: 250px;
    justify-content: center;
    height: 175px;
}
.button2 a {
    padding: 50px;
}
/* Footer Style Start */
footer {
    display: flex;
    flex-direction: row;
}
footer h4{
    font-size: 16px;
    font-weight: lighter;
    border-bottom: var(--tertiary-color);
    justify-content: left;
    padding-left: 30px;
    padding-bottom: 30px;
}
/* flexrow start */
.flex-row {
    display: flex;
}
.heading-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 48px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 100%;
}
/* Link Styling */
a:link {
    color:#f4ffed
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: 100%;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999
}
    header h1 {
        width: 100%;
        text-align: center;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
    
header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
}
    
header nav ul li a {
        font-size: 20px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#portfolio {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    margin: 50px;
}    
.portfolio-boxes {
    display: flex;
    flex-direction: column;
}
.primary-project-flexcontainer {
    display: flex;
    flex-direction: row;
    width: 980px;
    justify-content: space-around;
}
.primary-project img {
    display: flex;
    max-width: 980px;
    width: 100%;
}
.secondary-project-flexcontainer{
    display: flex;
    flex-direction: row;
    width: 980px;
}
.secondary-project-flexcontainer-project-1{
    display: flex;
    flex-direction: column;
}
.secondary-project-flexcontainer-project-2 {
    display: flex;
    flex-direction: column;
}
footer h2, footer div {
        text-align: center;
        width: 100%;
}
}
