* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #5c6376;
    --secondary-color: #74005;
    --tertiary-color: #f4ffed;
}
body {
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--primary-color);
    }
    /* apply styles to <header> */
header {
    background-image: url("../img_0722.jpg");
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    background-size: cover;
    background-position: 100%;
    justify-content: center;
    align-items: flex-start;
    background-attachment: fixed;
}
Header h1 {
    font-weight: bold;
    margin: 0;
    font-size: large;
}
/* Header Nav Style Start */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--tertiary-color);
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--tertiary-color)
}
/* Bio Style Start */
#bio img {
    object-fit: cover;
    display: flexbox;
    justify-content: center;
    width: 500px;
}
/* Portfolio Style Start */
#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 500px;
}
#portfolio img {
    width: 500px;
    height: 500px;
    object-fit: cover;
}
.primary-project, .secondary-project {
    position: relative;
    text-align: center;
}
.primary-project h3, .secondary-project h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
article {
    display: flexbox;
    flex-flow: row wrap;
    justify-content: center;
}
/*Contact Style Start */
.contact {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Footer Style Start */
footer {
    display: flex;
    width: 100%;
}
/* flexrow start */
.flex-row {
    display: flex;
}

