* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #5c6376;
    --secondary-color: #74005;
    --tertiary-color: #f4ffed;
}
body {
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    }
    /* apply styles to <header> */
header {
    background-image: url("./gradient.jpeg");
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: 100%;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
}
Header h1 {
    font-weight: bold;
    margin: 0;
    font-size: large;
}
/* Header Nav Style Start */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--tertiary-color);
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--tertiary-color)
}
/* Bio Style Start */
#bio {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
#bio img {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 100px;
    border: #f4ffed;
    border-radius: var(--tertiary-color);
    border-style: solid;
    width: 50%;
    max-width: 500px;

}
#bio p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    max-width: 500px;
    border: var(--tertiary-color);
    border-radius: var(--tertiary-color);
    border-style: solid;
    margin: 100px;
    text-align: center;
    padding: 50px;
}
.bio-content {
    display: flex;
}
/* Portfolio Style Start */
#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-around;
    justify-content: center;
}
#portfolio img {
    max-height: 1000px;
}
.portfolio-boxes {
    display: flex;
    flex-direction: row;
    max-height: 1000px;
    max-width: 1000px;
}
.secondary-project-flexcontainer {
    height: 1000px;
    justify-content: space-evenly;
}
.secondary-project-flexcontainer-project-1 img {
    height: 500px;
    width: 500px;
}
.secondary-project-flexcontainer-project-2 img {
    height: 500px;
    width: 500px;
}
.primary-project {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}
.primary-project-flexcontainer {
    max-height: 1000px;
    height: 100%;
}
.secondary-project {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    flex-wrap: wrap;
    max-height: 500px;
    height: 50%;
    max-width: 500px;
    width: 50%;
}
.primary-project h3, .secondary-project h4 {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
article {
    justify-content: center;
}
/*Contact Style Start */
#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.buttons {
    display: flex;
    flex-direction: row;
}
.button1 {
    display: flex;
    flex-direction: column;
}
.button2 {
    display: flex;
    flex-direction: column;
}
/* Footer Style Start */
footer {
    display: flex;
    flex-direction: row;
}
/* flexrow start */
.flex-row {
    display: flex;
}
.heading-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 48px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 100%;
}
