* {
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: #5c6376;
    --secondary-color: rgba(194, 21, 139, 0.543);
    --tertiary-color: #f4ffed;
}
body {
    color: var(--tertiary-color);
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--primary-color);
    border-radius: 25px;
    }
    /* apply styles to <header> */
header {
    background-image: url("./gradient.jpeg");
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: 100%;
    background-position: 100%;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
    border-radius: 0 0 23px 23px;
    border-bottom-style: groove;
    width: 100%;
}
header img {
    display: flex;
    width: 100%;
    z-index: 9999;
}
header h1 {
    font-weight: normal;
    margin: 0;
    font-size: x-large;
    padding-right: 200px;
    padding-right: 50px;
}
/* Header Nav Style Start */
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    color: var(--tertiary-color);
    padding-left: 50px;
    padding-right: 50px;
}
header nav ul li a {
    padding: 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--tertiary-color)
}
.nav-name {
    display:flex;
    text-justify: left;
}
.navbox {
    display: flex;
    flex-direction: column;
}
.indnavbuttons li {
    justify-content: space-evenly;
}
/* Bio Style Start */
.bio-content {
    display: flex;
    justify-content: space-around;
}
#bio img {
    border: #f4ffed;
    border-radius: 23px;
    border-style: solid
}
#bio p {
    border: var(--tertiary-color);
    border-radius: 23px;
    border-style: solid;
    text-align: center;
    padding: 50px;
}
.bio-content {
    display: flex;
    padding: 50px;
}
.bioimage {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 50%;
    max-height: 750px;
    height: 50%;
    padding: 50px;
    justify-content: center;
    margin-left: 100px;
}
.biotext {
    display: flex;
    padding:47px;
    justify-content: center;
    margin-top: 50px;
    font-size: 23px;
}
/* Portfolio Style Start */
.portfolio-section {
    display: flex;
    width: 100%;
}
.portfolio-header {
    display: flex;
}
#portfolio {
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
}
#portfolio h3, #portfolio h4 {
color: #f4ffed;
}
#portfolio img {
    opacity: 50%;
    border-style: inset;
    border-color: var(--tertiary-color);
    border-radius: 23px;
    margin: 10px;
    height: 1000px;
    width: 500px;
}
.portfolio-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.primary-project-flexcontainer {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-left: 50px;
    margin-left: 50px;
}
.secondary-project-flexcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-direction: column;
    padding: 50px;
}
.secondary-project-flexcontainer-project-1 {
    display: flex;
    flex-grow: 2;
    height: 50%;
    max-height: 500px;
    padding: 25px
}
.secondary-project-flexcontainer-project-2 {
    display: flex;
    flex-grow: 2;
    height: 50%;
    max-height: 500px;
    padding: 25px;
}
.secondary-project-flexcontainer-project-1 img {
    display: flex;
    max-height: 500px;
    max-width: 500px;
}
.secondary-project-flexcontainer-project-2 img {
    display: flex;
    max-height: 500px;
    max-width: 500px;
}
/*Contact Style Start */
#contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;

}
.contact-container {
    display: flex;
    justify-content: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 23px;
    color: var(--tertiary-color);
}
.button1 {
    display: flex;
    margin: 35px;
    background-color: var(--secondary-color);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 25px;
    width: 250px;
    justify-content: center;
    height: 175px;
    border-radius: 23px;
}
.button2 {
    display: flex;
    margin: 35px;
    background-color: var(--secondary-color);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 25px;
    width: 250px;
    justify-content: center;
    height: 175px;
    border-radius: 23px;
}
.button2 a {
    padding: 50px;
    border-radius: 23px;
}
/* Footer Style Start */
footer {
    display: flex;
    flex-direction: row;
}
footer h2, footer div {
    text-align: center;
    width: 100%;
}
footer h4{
    font-size: 16px;
    font-weight: lighter;
    border-bottom: var(--tertiary-color);
    justify-content: left;
    padding-left: 30px;
    padding-bottom: 30px;
}
/* flexrow start */
.flex-row {
    display: flex;
}
.heading-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 48px;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}
/* Link Styling */
a:link {
    color:#f4ffed
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* body styling */
    body {
        max-width: 365px;
        width: 100%;
    }
    /*header styling */
    header {
        display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: 100%;
    background-position: 100%;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
    border-radius: 0 0 23px 23px;
    border-bottom-style: groove;
    width: 100%;
    }
    .header-container {
        display: flex;
        flex-wrap: wrap;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-size: 100%;
        background-position: 100%;
        justify-content: center;
        align-items: flex-start;
        z-index: 9999;
        border-radius: 0 0 23px 23px;
        border-bottom-style: groove;
        width: 100%;
    }
    .biotext p {
        max-width: 375px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .biotext {
        display: flex;
        justify-content: center;
        padding: 50px;
        align-content: center;
    }
.indnavbuttons li a {
font-size: 15px;
justify-content: center;
align-items: center;
vertical-align: center;
padding: 5px;
background-color: rgba(105, 255, 255, 0.372);
border-radius: 15px;
}
    .header-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: -webkit-sticky;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: 100%;
    background-position: 100%;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
    border-radius: 0 0 23px 23px;
    border-bottom-style: groove;
}
.header-container img {
    width: 100%;
}
.nav-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
}
.navbox {
    display: flex;
    width: 100%;
    height: 100%;
}
.indnavbuttons {
    display: flex;
    flex-direction: column;
}
/* bio styling*/
section {
    justify-content: center;
}
.heading-section {
    justify-content: center;
    align-content: center;
}
.bio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.bio-content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 365px;
    justify-content: center;
    align-content: center;
}
.bioimage {
    display: flex;
    margin: 0;
    width: 100%;
    padding: 10px;
}
.biotext p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-content: center;
    margin-left: auto;
    padding: 10px;
}
/* Style Portfolio */
.portfolio-section {
    display: flex;
    flex-direction: column;
}
#portfolio img {
    margin: 0;
    height: 100%;
    width: 100%;
    max-width: 365;
}
.flex-row {
    display: flex;
    margin: 5px;
    padding: 5px;
    width: 365px;
}
.portfolio-section {
    display: flex;
}
.portfolio-boxes {
    display: flex;
    flex-wrap: wrap;
}

.primary-project-flexcontainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 365px;
    margin: 0%;
}
.primary-project {
    display: flex;
    margin: auto;
}
.secondary-project-flexcontainer {
    display: flex;
    margin-bottom: 0%;
}
.secondary-project-flexcontainer-project-1 {
    display: flex;
}
.secondary-project-flexcontainer-project-2 {
    display: flex;
    margin-bottom: 0%;
}
/*contact styling */
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.heading-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}
.contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    margin: 25px;
}




}

